.student-screen{
    padding: 64px 20px 0px;
    width: 100%;
    height: 100%;
}

.student-title{
    height: 40px;
}

.student-title > h2{
    color:blue;
    float: left;
    line-height: 40px;
    margin: 0px;
}

.right-box{
    float:right;
    height: 32px;
    padding: 4px 0px;
}

.student-title input{
    float: left;
    height: 32px;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid lightgray;
}

.student-title input:focus{
    outline: none;
}

.search-button{
    float: left;
    height: 32px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.student-table{
    overflow: auto;
    width: 100%;
    height: 100%;
}
