.content-video-box{
    margin: auto;
    display: flex;
}

.content-video{
    width: 600px;
    height: 400px;
    margin: auto;
}

.content-description-box{
    margin: 50px 0px;
}
.content-description-box h3{
    font-weight: bold;
}

.content-description-box .content-description-text{
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: #fff;
}

.content-comment-box{
    width: 100%;
    height: 400px;
    background-color: #fff;
    margin: auto;
}

.content-comment-box .content-comment-input{
    height: 48px;
    background-color: aliceblue;
    padding: 10px;
}

.content-comment-box .ant-input-group.ant-input-group-compact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-comment-box .content-comment-list{
    
}

.content-comment-box .content-comment-item{
    height: 40px;
    margin: 5px 10px;
}

.content-comment-box .content-comment-item p{
    border-bottom: 1px solid #1890ff;
    color: #000;
    display: inline;
    padding-bottom: 5px;
}